* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
.background-color {
  background-color: #eee;
}
.background-color-tomato {
  background-color: tomato;
}
.color-tomato {
  color: tomato;
}
.bold {
  font-weight: bold;
}
.text-tomato {
  color: tomato;
  font-weight: bold;
  padding-top: 20px;
  font-size: 15px;
}
.text-white {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
}
.white-text {
  color: white;
}
#menuDemo {
  text-align: center;
}
span.blog,
span.contact {
  color: black;
}
.blog a,
.contact a {
  text-decoration: none;
}
span.blog:hover,
span.contact:hover {
  color: tomato;
}
/* Top Menu */
ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.social li {
  float: left;
}
ul.social li a {
  display: block;
  padding: 5px 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.facebook,
.instagram,
.youtube,
.linkedin,
.github,
.gitlab,
.discord,
.tiktok,
span.number,
span.email {
  color: rgb(163, 151, 151);
}
.fa-phone,
.fa-envelope {
  color: rgb(226, 94, 70);
}
.fa-phone:hover,
span.number:hover,
span.email:hover,
.fa-envelope:hover {
  color: black;
}
.facebook:hover {
  background-color: #1877f2;
  color: white;
}
.instagram:hover {
  background-color: #e4405f;
  color: white;
}
.youtube:hover {
  background-color: #cd201f;
  color: white;
}
.linkedin:hover {
  background-color: #0a66c2;
  color: white;
}
.github:hover {
  background-color: #171515;
  color: white;
}
.gitlab:hover {
  background-color: #fca326;
  color: white;
}
.discord:hover {
  background-color: #7289da;
  color: white;
}
.tiktok:hover {
  background-color: #ee1d51;
  color: white;
}
ul li:first-child:not(.home) a {
  border-left: 1px solid #ddd;
}
/* End Top Menu */

/* Second Menu left */
.text-logo {
  font-size: 15px;
  margin: -10px 0px 0px 20px;
  color: #8e8686;
}

/* Second Menu right */
#cssmenu ul {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 999999990;
}

#cssmenu li {
  display: inline-block;
  position: relative;
  font-size: 0;
  margin: 0;
  padding: 0;
}

/*Second Menu right
---------------------------------------*/

#cssmenu > ul > li > span,
#cssmenu > ul > li > a {
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  position: relative;
  transition: all 0.3s;
}
#cssmenu li:hover > span,
#cssmenu li:hover:not(.search) > a {
  color: tomato;
}

/*Sub level items
---------------------------------------*/
#cssmenu .dropdown {
  text-align: left;
  left: 0;
  color: #333333;
  background-color: #f3f3f3;
  border: none;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
}

#cssmenu .dropdown li {
  display: block;
}

#cssmenu .dropdown li > span,
#cssmenu .dropdown li > a,
#cssmenu .clm a,
#cssmenu .clm h3 {
  font-size: 16px;
  margin-top: 0px;
  padding: 14px 30px;
  display: block;
  color: inherit;
  text-decoration: none;
}
#cssmenu .clm h3 {
  font-size: 20px;
  font-weight: 700;
}
#cssmenu .sub-item {
  background-color: #f3f3f3;
  position: relative;
  transition: all 0.3s;
}

#cssmenu .dropdown li:hover > span,
#cssmenu .dropdown li:hover > a {
  color: white;
  background-color: tomato;
}

#cssmenu .clm a:hover {
  color: #333333;
  transition: color 0.2s;
}

#cssmenu .dropdown.right0 {
  left: auto;
  left: 0;
}
#cssmenu .dropdown li > .dropdown.right0 {
  left: auto;
  left: 100%;
}

#cssmenu li.full-width {
  position: static;
}
#cssmenu li.full-width .dropdown {
  width: 100%;
  left: 0;
  box-sizing: border-box;
}

#cssmenu li:hover > .dropdown {
  display: block;
  opacity: 1;
  z-index: 1;
}

#cssmenu .dropdown li > .dropdown {
  right: 100%;
  left: auto;
  top: 0;
}

#cssmenu ul.dropdown {
  min-width: 260px; /* Sub level menu min width */
}

#cssmenu div.dropdown {
  text-align: center;
}

/* each column */
#cssmenu .clm {
  text-align: left;
  margin: 20px;
  vertical-align: top; /*or middle*/
  width: auto;
  min-width: 240px;
  display: inline-block;
}

#cssmenu .clm a:hover {
  color: #333333;
  text-decoration: underline;
}

/*-----------Arrows----------------*/
#cssmenu .arrow {
  color: inherit;
  border-style: solid;
  border-width: 2px 2px 0 0;
  padding: 4px;
  transform: rotate(135deg);
  margin-top: -8.5px;
  margin-left: 4px;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  overflow: hidden;
}

#cssmenu .dropdown .arrow {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -6px;
  position: absolute;
  left: auto;
  right: 20px;
}
.home {
  text-decoration: none;
  color: inherit;
}
.fa-magnifying-glass li a {
  border: 1px solid #ddd;
}
.search {
  border: 1px solid #ddd;
  color: #ddd;
}
.search a:hover {
  color: white;
  font-weight: bold;
  background-color: tomato;
  outline: none;
}
/* Section 1 Awesome & Great Services */
.line {
  height: 1px;
  width: 270px;
  background-color: #ccc;
  display: inline-block;
  position: relative;
  left: 50%;
  top: -10px;
  margin-left: -135px;
}
.line-weight {
  height: 4px;
  width: 30px;
  display: inline-block;
  background-color: #171515;
  position: absolute;
  left: 50%;
  margin-top: 5px;
  margin-left: -15px;
}
.next,
.previous {
  background-color: #171515;
  color: white;
  margin-left: 10px;
  padding: 4px 14px;
  cursor: pointer;
  margin-bottom: 30px;
}
.next:hover,
.previous:hover {
  background-color: tomato;
}
.icon {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  color: tomato;
  border-radius: 50%;
  line-height: 88px;
}
.fa-heart,
.fa-computer,
.fa-business-time,
.fa-gear {
  font-size: 24px;
}
.text-icon {
  font-family: "Times New Roman", Times, serif;
}
.icon:hover {
  color: white;
  background-color: tomato;
}
/* Section 2 Latest Awesome & Creative Works */
/* Card */
.card {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.151);
  height: 390px;
  margin-bottom: 50px;
}
.card-text {
  font-weight: bold;
  font-size: 18px;
}
.leaf-icon {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 50px;
}
.icon-text {
  padding: 20px 10px;
}
button.load-more {
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
  outline: none;
  border: 3px solid #ddd;
  padding: 12px 30px;
  background-color: white;
}
button.load-more:hover {
  background-color: tomato;
  color: white;
}
/* Section 3 All What You Need To Know About Us */
.accordion-body {
  text-align: justify;
}
/* Section 4 */
.line-weight-tomato {
  height: 4px;
  width: 30px;
  display: inline-block;
  background-color: tomato;
  position: absolute;
  left: 50%;
  margin-top: 5px;
  margin-left: -15px;
}
/* Section 5 */
.fa-pen-nib {
  font-size: 30px;
}
.icon1 {
  width: 80px;
  height: 80px;
  background-color: inherit;
  color: tomato;
  border: 1px solid #ddd;
  border-radius: 50%;
  line-height: 88px;
  cursor: pointer;
}
.icon1:hover {
  background-color: tomato;
  color: white;
}
/* Section 5 */
.line1 {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  display: inline-block;
  position: relative;
  top: -30px;
}
.line-weight1 {
  height: 4px;
  width: 30px;
  display: inline-block;
  background-color: #171515;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.late-news .image {
  position: relative;
}
.late-news .image img {
  width: 100%;
  height: 100%;
}
.late-news .calender {
  background-color: #171515;
  width: max-content;
  padding: 5px 20px;
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  text-align: center;
}
.title:hover {
  color: black;
}
span.title:hover {
  color: tomato;
}
blockquote {
  text-align: justify;
  background-color: #ddd;
  padding: 40px;
  border-radius: 10px;
  position: relative;
}
blockquote::before {
  content: "\201c";
  font-size: 50px;
  position: absolute;
  top: -10px;
}
blockquote::after {
  content: "\201c";
  font-size: 50px;
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.image-circle {
  border-radius: 50%;
}
/* Section 6 */
.image-client {
  border: 1px solid #ddd;
  /* padding: 10px 20px; */
  width: 100%;
  height: 150px;
}
.text-justify {
  text-align: justify;
}
.text-white-bottom {
  color: white;
}
.icon-bottom i :hover {
  color: tomato;
}
.date {
  font-size: 14px;
  margin-top: -12px;
}
.text-post:hover {
  color: tomato;
}
/* Second 7 */
span.design {
  color: tomato;
}
span.design:hover {
  color: white;
}
.menu-bottom:hover {
  color: tomato;
}
/* Blog=========================================================================================== */
span.blog-breadcrum {
  font-size: 13px;
}
.border-hover:hover {
  color: tomato;
}
/* Contact */
/* ================================================================================================= */
/* Form */
.button {
  color: white;
  background-color: tomato;
}
.button:hover {
  background-color: #333;
}
/* Preloader */
#preloader {
  background: #1ce0bd url("../picture/Preloader.gif") no-repeat center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000000000;
}
